
html {
  font-size: 100%;
}

body {
  font-family: 'Crimson Text', serif;
  line-height: 1.7;
}

img {
  /* max-width: 100%; */
  /* object-fit: cover; */
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}

/* .wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 2%;
} */


.main-img img {

  max-height: 600px;
  /* object-fit: none; */

}
.header {
  display: flex;
}

.nav-list {
  display: flex;


}

.header__logo {
  font-size: 30px;
}